<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Recuperación de contraseña Control</title>
  </head>
  <body>
    <h1>Restaura tu contraseña de Control</h1>
    <p>
      Estás recibiendo este email porque has (o alguien pretendiendo ser tu) ha
      solicitado un cambio de contraseña en tu cuenta de Control. Si no deseas
      cambiar tu contraseña, por favor ignora este mensaje.
    </p>
    <p>
      Para cambiar tu contraseña, por favor haz click en el siguiente enlace:
      <a href="https://pokeapp.es/recovery-password/<%= recoveryToken %>"
        >Recuperar contraseña</a
      >
    </p>
    <p>
      Si no puedes acceder al enlace, copia y pega ésto en tu navegador:
      https://pokeapp.es/recovery-password/<%= recoveryToken %>
    </p>
    <p>¡Nos vemos!</p>
  </body>
</html>
