<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Bienvenido a Control</title>
  </head>
  <body>
    <h1>Bienvenido a Control - Tu APP de control de presupuestos</h1>
    <p>
      Gracias por registrarte, esperamos que puedas disfrutar de la aplicación.
    </p>
    <p>
      Cualquier duda, te estaremos escuchando en info@pokeapp.es
    </p>
    <p>¡Nos vemos!</p>
  </body>
</html>
